<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <span>Back</span>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <span translate>biography.tab.title</span>
    </ion-title>
    <ion-buttons class="toolbar-btn-right" slot="end">
      <ion-button (click)="saveBiography()" [disabled]="isSavingDisabled()">
        <span>Save</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="biography-component" data-cy="biography-tab-content">
  <form [formGroup]="biographyForm" *ngIf="formInitialized" class="biography-component__form">
    <ion-list class="biography-component__list list-spaced mb-0">
      <ion-item class="biography-textarea">
        <ion-textarea
          overflow-scroll="true"
          formControlName="biography"
          [placeholder]="'biography.tab.placeholder' | translate"
          data-cy="biography-comment"
          auto-grow="false"
          rows="30"
          maxlength="{{ maxTextLength }}"
          class="biography-text"
        >
        </ion-textarea>
      </ion-item>
    </ion-list>
    <div class="statistic">
      {{ 'biography.tab.youEntered' | translate }} {{ currentTextLength }} {{ 'biography.tab.symbolsOf' | translate }}
      {{ maxTextLength }}
    </div>
  </form>
</ion-content>
