.toolbar-btn-right {
  position: absolute;
  right: 5px;
}

.biography-edit {
  height: 100%;
}

.biography-textarea {
  display: flex;
}

.statistic {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: #f5f6f7;
  border-top: 1px solid #cccdce;
  height: 50px;
}

.biography-textarea {
  height: calc(100vh - 90px);

  ion-textarea {
    height: calc(100vh - 90px) !important;
  }
}

ion-button {
  span {
    color: #fff;
  }
}

.biography-text {
  height: calc(100vh - 90px) !important;
}
