@import '../../../../../theme/fonts.scss';
.save-btn {
  text-transform: none;
}

.gighouse-profile-details-error-message {
  font-size: 13px;
  color: #e0004d;
  padding-left: 15px;
}

.details-list {
  padding-top: 0px;

  .content-heading {
    color: #ffffff;
    --background: #51496e;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .optional-field {
    font-size: 12px;
    color: #cfcece;
  }

  ion-item {
    --border-width: 0px;
    --highlight-background: none;
    &.item-has-focus ion-label {
      color: #e0004d !important;
    }

    &:focus-within ion-label {
      color: #e0004d !important;
    }

    ion-label {
      color: #9e9d9d;
    }
    ion-input {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}
