<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="!isFormChanged || !formInitialized || profileDetailsForm.invalid"
        (click)="saveData()"
        data-cy="profile-details-save-button"
        class="save-btn"
      >
        {{ 'profile-details.save' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="profileDetailsForm" *ngIf="formInitialized">
    <ion-list class="details-list">
      <ion-item-group>
        <ion-item-divider data-cy="profile-details-personal-info" class="content-heading">
          {{ 'profile-details.personal-info' | translate }}
        </ion-item-divider>

        <ion-item>
          <ion-label position="floating">
            <span translate>profile-details.firstname</span>&nbsp;
            <span class="optional-field">{{ 'profile-details.optional' | translate }}</span>
          </ion-label>
          <ion-input
            formControlName="firstName"
            data-cy="profile-details-firstname"
            type="text"
            color="red"
          ></ion-input>
        </ion-item>
        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.firstName.errors && profileDetailsForm.controls.firstName.touched"
          translate
          [translateParams]="{ field: 'profile-details.firstname' | translate, numberOfChars: '40' }"
        >
          <span
            *ngIf="profileDetailsForm.controls.firstName.errors?.maxlength"
            translate
            [translateParams]="{ field: 'profile-details.firstname' | translate, numberOfChars: '40' }"
          >
            validation.maxlength
          </span>
          <span
            *ngIf="profileDetailsForm.controls.firstName.errors?.required"
            translate
            [translateParams]="{ field: 'profile-details.firstname' | translate }"
          >
            validation.required
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"><span translate>profile-details.lastname</span></ion-label>
          <ion-input formControlName="lastName" data-cy="profile-details-lastname" type="text"></ion-input>
        </ion-item>
        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.lastName.errors && profileDetailsForm.controls.lastName.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.lastName.errors?.maxlength"
            translate
            [translateParams]="{ field: 'profile-details.lastname' | translate, numberOfChars: '80' }"
          >
            validation.maxlength
          </span>
          <span
            *ngIf="profileDetailsForm.controls.lastName.errors?.required"
            translate
            [translateParams]="{ field: 'profile-details.lastname' | translate }"
          >
            validation.required
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"><span translate>profile-details.email</span></ion-label>
          <ion-input formControlName="email" data-cy="profile-details-email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><span translate>profile-details.mobilephone</span></ion-label>
          <ion-input formControlName="mobilePhone" data-cy="profile-details-mobilephone" type="tel"></ion-input>
        </ion-item>
        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.mobilePhone.errors && profileDetailsForm.controls.mobilePhone.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.mobilePhone.errors?.required"
            translate
            [translateParams]="{ field: 'profile-details.mobilephone' | translate }"
          >
            validation.required
          </span>
          <span
            *ngIf="profileDetailsForm.controls.mobilePhone.errors?.pattern"
            translate
            [translateParams]="{ field: 'profile-details.mobilephone' | translate }"
          >
            validation.invalid.mobile.phone
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"><span translate>profile-details.expertise</span></ion-label>
          <ion-select
            formControlName="expertise"
            data-cy="profile-details-expertise-dropdown"
            (ionChange)="onExpertiseSelected()"
          >
            <ion-select-option *ngFor="let expertise of expertises" [value]="expertise.getValue()"
              >{{ expertise.getLabel() }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><span translate>profile-details.profile</span></ion-label>
          <ion-select formControlName="profile" data-cy="profile-details-profile-dropdown">
            <ion-select-option *ngFor="let profile of profilesForExpertise" [value]="profile.getId()"
              >{{ profile.getName() }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider class="content-heading">
          {{ 'profile-details.company-info' | translate }}
        </ion-item-divider>

        <ion-item>
          <ion-label position="floating"><span translate>profile-details.company-name</span></ion-label>
          <ion-input formControlName="companyName" data-cy="profile-details-company-name" type="text"></ion-input>
        </ion-item>
        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.companyName.errors && profileDetailsForm.controls.companyName.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.companyName.errors?.maxlength"
            translate
            [translateParams]="{ field: 'profile-details.company-name' | translate, numberOfChars: '100' }"
          >
            validation.maxlength
          </span>
          <span
            *ngIf="profileDetailsForm.controls.companyName.errors?.required"
            translate
            [translateParams]="{ field: 'profile-details.company-name' | translate }"
          >
            validation.required
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"
            ><span translate>profile-details.company-form</span>&nbsp;<span class="optional-field" translate
              >profile-details.optional</span
            ></ion-label
          >
          <ion-select formControlName="companyForm" data-cy="profile-details-company-form-dropdown">
            <ion-select-option *ngFor="let companyForm of companyForms" [value]="companyForm.getValue()">
              {{ companyForm.getLabel() }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><span translate>profile-details.vatNumber</span></ion-label>
          <ion-input formControlName="vatNumber" data-cy="profile-details-vat-number" type="text"></ion-input>
        </ion-item>
        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.vatNumber.errors && profileDetailsForm.controls.vatNumber.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.vatNumber.errors?.pattern"
            translate
            [translateParams]="{ field: 'profile-details.vatNumber' | translate }"
          >
            validation.invalid.vat.number
          </span>
          <span
            *ngIf="profileDetailsForm.controls.vatNumber.errors?.required"
            translate
            [translateParams]="{ field: 'profile-details.vatNumber' | translate }"
          >
            validation.required
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"
            ><span translate>profile-details.street</span>&nbsp;<span class="optional-field" translate
              >profile-details.optional</span
            ></ion-label
          >
          <ion-input formControlName="street" data-cy="profile-details-street" type="text"></ion-input>
        </ion-item>

        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.street.errors && profileDetailsForm.controls.street.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.street.errors?.required"
            translate
            [translateParams]="{ field: 'profile-details.street' | translate }"
          >
            validation.required
          </span>
          <span
            *ngIf="profileDetailsForm.controls.street.errors?.maxlength"
            translate
            [translateParams]="{ field: 'profile-details.street' | translate, numberOfChars: '100' }"
          >
            validation.maxlength
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"
            ><span translate>profile-details.postal.code</span>&nbsp;<span class="optional-field" translate
              >profile-details.optional</span
            ></ion-label
          >
          <ion-input formControlName="postalCode" data-cy="profile-details-postal-code" type="text"></ion-input>
        </ion-item>

        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.postalCode.errors && profileDetailsForm.controls.postalCode.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.postalCode.errors.required"
            translate
            [translateParams]="{ field: 'profile-details.postal.code' | translate }"
          >
            validation.required
          </span>
          <span
            *ngIf="profileDetailsForm.controls.postalCode.errors.pattern"
            translate
            [translateParams]="{ field: 'profile-details.postal.code' | translate }"
          >
            validation.invalid.postal.code
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"
            ><span translate>profile-details.city</span>&nbsp;<span class="optional-field" translate
              >profile-details.optional</span
            ></ion-label
          >
          <ion-input formControlName="city" data-cy="profile-details-city" type="text"></ion-input>
        </ion-item>

        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.city.errors && profileDetailsForm.controls.city.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.city.errors.required"
            translate
            [translateParams]="{ field: 'profile-details.city' | translate }"
          >
            validation.required
          </span>
          <span
            *ngIf="profileDetailsForm.controls.city.errors.maxlength"
            translate
            [translateParams]="{ field: 'profile-details.city' | translate, numberOfChars: '100' }"
          >
            validation.maxlength
          </span>
        </div>

        <ion-item>
          <ion-label position="floating"
            ><span translate>profile-details.bank.account</span>&nbsp;<span class="optional-field" translate
              >profile-details.optional</span
            ></ion-label
          >
          <ion-input formControlName="bankAccount" data-cy="profile-details-bank-account" type="text"></ion-input>
        </ion-item>

        <div
          class="gighouse-profile-details-error-message"
          *ngIf="profileDetailsForm.controls.bankAccount.errors && profileDetailsForm.controls.bankAccount.touched"
        >
          <span
            *ngIf="profileDetailsForm.controls.bankAccount.errors.required"
            translate
            [translateParams]="{ field: 'profile-details.bank.account' | translate }"
          >
            validation.required
          </span>
          <span
            *ngIf="profileDetailsForm.controls.bankAccount.errors.maxlength"
            translate
            [translateParams]="{ field: 'profile-details.bank.account' | translate, numberOfChars: '100' }"
          >
            validation.maxlength
          </span>
        </div>
      </ion-item-group>
    </ion-list>
  </form>
</ion-content>
