<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close(false)">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'terms-and-conditions' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gighouse-content">
  <div class="container">
    <div class="text" [innerHTML]="termsAndConditions + privacyPolicy"></div>
  </div>
</ion-content>

<div class="footer">
  <ion-button block color="linkedin-blue" data-cy="linkedin-button" (click)="close(true)">Proceed</ion-button>
</div>
