<ion-item class="main-content" (click)="openParticipants()">
  <div class="chat-item">
    <div class="chatitem__text">
      <div class="chat-item__name">
        <span>{{ item.projectName }}</span>
      </div>
      <div class="chat-item__message">
        <ion-icon name="chatbox-outline" class="chat-item__message__icon"></ion-icon>
        <ion-spinner
          name="dots"
          *ngIf="isLoading; else loadedChatCounter"
          class="chat-item__message__loading-spinner"
        ></ion-spinner>
        <ng-template #loadedChatCounter>
          {{ chatsCounter | chatCounterPipe }}
        </ng-template>
      </div>

      <div class="unread" *ngIf="unreadCount$ | async as unreadCount">
        {{ unreadCount }}
      </div>
    </div>
  </div>
</ion-item>
