@import '../../../../../theme/fonts.scss';
@import '../../../../../theme/variables.scss';
@import '../../../../../mixins/mixins.scss';

.main-content {
  background: white;
  width: 100%;
  display: flex;
  --padding-start: 0;
  --padding-end: 0px;
  --inner-padding-end: 0px;

  .chat-item {
    position: relative;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    &__name {
      margin: 6px 0px;
      font-size: 13pt;
    }

    &__message {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      color: #7a7272;

      &__loading-spinner {
        height: 16px;
      }

      &__icon {
        margin-right: 4px;
        font-size: 16px;
        transform: scale(-1, 1);
      }
    }

    &__last-message-author {
      color: #b6aeae;
    }

    .unread {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 10px);
      right: 25px;
      background-color: $active-header;
      color: white;
      font-weight: bold;
      @include flexMix;
      font-size: 12px;
    }
  }
}
