<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start" class="toolbar-settings">
      <ion-button (click)="openSettingsPage()" data-cy="settings-button" class="settings-button">
        <img src="/assets/icons/icon-white-settings.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img class="logo" src="/assets/icons/gighouse-logo-white.svg" alt="{{ 'gighouse.logo' | translate }}" />
    </ion-title>
    <ion-buttons slot="end" class="toolbar-chat-list">
      <ion-button (click)="openChatList()" data-cy="setting-button" class="chat-list-button">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <div *ngIf="isHaveUnreadMessages$ | async" class="new-message-circle"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" data-cy="interested-jobs-content">
  <div class="subheader" data-cy="interested-jobs-title">
    <h1 class="active-title" data-cy="timesheet-title">{{ 'interested-jobs.title' | translate }}</h1>
    <span *ngIf="interestedJobs$">{{ 'interested-jobs.explanation' | translate }}</span>
  </div>

  <div class="assignments">
    <div class="assignments__container">
      <div *ngIf="!interestedJobs$" class="content">
        <p>{{ 'interested-jobs.no.jobs' | translate }}</p>
      </div>

      <ion-list *ngIf="(interestedJobs$ | async) as interestedJobs">
        <div *ngFor="let interestedJob of interestedJobs">
          <app-interested-job-card [job]="interestedJob" (openEvent)="openJobDetail($event)"></app-interested-job-card>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
