<ion-list>
  <ion-card data-cy="teaser-job-card-job">
    <ion-card-header>
      <ion-button (click)="openChat($event)" class="message-list-btn">
        <ion-icon name="chatbox-outline"></ion-icon>
      </ion-button>
      <h1>{{ name }}</h1>
      <ul>
        <li>
          <span>{{ text1 }}</span>
        </li>
        <li>
          <span>{{ text2 }}</span>
        </li>
        <li>
          <span>{{ text3 }}</span>
        </li>
      </ul>
    </ion-card-header>
    <ion-card-content>
      <div class="card-meta">
        <div class="card-meta__item">
          <img src="assets/icon-white-travel-time-2.svg" class="card-icon" />
          <strong>{{ location | valueOrDash }}</strong>
        </div>
        <div class="card-meta__item">
          <img src="assets/icon-white-job-list.svg" class="card-icon" />
          <strong
            >{{ daysAWeek | valueOrDash }}<span>{{ 'teaser-job-card.days.a.week' | translate }}</span></strong
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-list>
