@import '../../../../../mixins/mixins.scss';
@import '../../../../../theme/fonts.scss';

.message {
  width: 100%;
  @include flexMix(flex-start);

  &__item {
    width: 65%;
    min-width: 250px;
    height: 40px;
    background-color: #f1e4f1;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;

    &-time {
      color: #a1a2a3;
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 13px;
    }
  }

  &_self {
    justify-content: flex-end;

    .message__item {
      background: #cfd9e4;
    }
  }
}
