<div class="message" [class.message_self]="isMyself">
  <div class="message__item">
    {{ item.body }}

    <span class="message__item-time">{{ item.dateUpdated | date: 'HH:mm' }}</span>
  </div>
</div>
