@import "../../../mixins/mixins.scss";
@import "../../../theme/variables.scss";
@import "../../../theme/fonts.scss";

.welcome {
  .header {
    @include flexMix($direction: column);
    padding: 5rem 0 3rem 0;

    .logo {
      height: 36px;
      width: 248px;
    }
  }

  .features {
    width: 100%;
    color: $main-text-color;
    @include fontStyle($size: 0.8rem);
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 16px;

    &__item {
      @include flexMix(flex-start);
      margin-bottom: 18px;

      &-image {
        margin-right: 20px;
        width: 44px;
      }
    }
  }

  .buttons {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px 16px 16px;
  }
}
