<ion-content class="welcome" [fullscreen]="true">
  <div class="header">
    <h1 class="title title_big">{{ "landing-page.welcome" | translate }}</h1>
    <img class="logo" src="assets/icons/gighouse-logo.svg" alt="" />

    <h3 class="title title_medium">{{ "landing-page.tagline" | translate }}</h3>
  </div>

  <div class="features">
    <div class="features__item" *ngFor="let item of features">
      <img class="features__item-image" [src]="'assets/icons/' + item.image" />
      <div class="features__item-text">{{ item.text | translate }}</div>
    </div>
  </div>

  <div class="buttons">
    <ion-button
      (click)="openLoginPage('signup')"
      class="btn btn_active"
      mode="md"
      expand="block"
      data-cy="linkedin-button"
    >
      {{ "landing-page.register.with" | translate }}
      <strong>{{ "landing-page.email" | translate }}</strong>
    </ion-button>

    <ion-button
      (click)="openLoginPage('signin')"
      class="btn"
      mode="md"
      expand="block"
      data-cy="register-button"
    >
      <strong>{{ "landing-page.login" | translate }}</strong>
    </ion-button>
  </div>
</ion-content>
