<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span translate>languages.title</span>
    </ion-title>
    <ion-buttons class="toolbar-btn-save" slot="end">
      <button ion-button [disabled]="isSavingDisabled()" (click)="saveData()" data-cy="languages-save-button">
        <span translate>languages.save</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gighouse-content background-silver">
  <ion-list class="list-languages">
    <ion-item-group>
      <ion-item *ngFor="let language of languages">
        <ion-label floating>{{ language.languageLabel }}</ion-label>
        <ion-select
          *ngIf="languageSkillLevels"
          (ionChange)="selectionChanged(language)"
          [(ngModel)]="language.languageSkillLevelValue"
          [attr.data-cy]="'language-selector-' + language.languageValue"
        >
          <ion-select-option value="None">None</ion-select-option>
          <ion-select-option *ngFor="let languageSkillLevel of languageSkillLevels" [value]="languageSkillLevel.value"
            >{{ languageSkillLevel.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
