<div class="registration-container">
  <strong data-cy="register-name-title">{{ 'register.title.name' | translate }}</strong>
  <ion-list *ngIf="userNameForm">
    <form *ngIf="userNameForm.controls as controls" class="gighouse-form" [formGroup]="userNameForm">
      <div class="field">
        <ion-input
          [placeholder]="'register.firstname' | translate"
          formControlName="firstName"
          [class.invalid]="controls.firstName.touched && controls.firstName.errors"
          (keydown.enter)="lastName.setFocus()"
          type="text"
          data-cy="register-firstname"
        ></ion-input>

        <ng-container *ngIf="controls.firstName.touched && controls.firstName.errors">
          <div class="error">
            <span
              translate
              *ngIf="controls.firstName.errors.required"
              [translateParams]="{ field: 'register.firstname' | translate }"
              >validation.required</span
            >
            <span
              translate
              *ngIf="controls.firstName.errors.maxlength"
              [translateParams]="{
                field: 'register.firstname' | translate,
                numberOfChars: '40'
              }"
              >validation.maxlength</span
            >
          </div>
        </ng-container>
      </div>

      <div class="field">
        <ion-input
          #lastName
          [placeholder]="'register.lastname' | translate"
          formControlName="lastName"
          [class.invalid]="controls.lastName.touched && controls.lastName.errors"
          (keydown.enter)="next()"
          type="text"
          data-cy="register-lastname"
        ></ion-input>

        <ng-container *ngIf="controls.lastName.touched && controls.lastName.errors">
          <div class="error">
            <span
              translate
              *ngIf="controls.lastName.errors.required"
              [translateParams]="{ field: 'register.lastname' | translate }"
              >validation.required</span
            >
            <span
              translate
              *ngIf="controls.lastName.errors.maxlength"
              [translateParams]="{
                field: 'register.lastname' | translate,
                numberOfChars: '80'
              }"
              >validation.maxlength</span
            >
          </div>
        </ng-container>
      </div>

      <div class="field inline-checkbox-label" *ngIf="!isSocial">
        <ion-checkbox
          formControlName="privacy"
          data-cy="register-privacy-policy-check-box"
          class="inline-checkbox-label__checkbox"
        ></ion-checkbox>
        <ion-label
          >{{ 'register.privacy.conditions' | translate }}
          <strong (click)="openPrivacyPolicy()">{{ 'register.privacy.policy' | translate }}</strong>
        </ion-label>
      </div>

      <div class="field inline-checkbox-label" *ngIf="!isSocial">
        <ion-checkbox
          formControlName="general"
          data-cy="register-service-agreement-check-box"
          class="inline-checkbox-label__checkbox"
        >
        </ion-checkbox>
        <ion-label
          >{{ 'register.general.conditions' | translate }}
          <strong (click)="openServiceAgreement()">{{ 'register.service.agreement' | translate }}</strong>
        </ion-label>
      </div>
    </form>
  </ion-list>

  <div class="buttons ion-padding">
    <div class="buttons__container">
      <ion-button (click)="back()" mode="md" expand="block" class="btn btn_standart">{{
        'register.back' | translate
      }}</ion-button>
      <ion-button [disabled]="checkDisableState()" (click)="next()" mode="md" expand="block" class="btn btn_next">{{
        'register.next' | translate
      }}</ion-button>
    </div>

    <div class="buttons__step">{{ 'register.step' | translate }} 1/5</div>
  </div>
</div>
