@import '../../../../../mixins/mixins.scss';

.stakeholders-item {
  --padding-start: 0px;
  width: 100%;

  &__content {
    width: 100%;
    @include flexMix(flex-start);
    padding: 10px;
    height: 75px;
    box-sizing: border-box;

    &__name-initials {
      @include flexMix(center, center);
      width: 40px;
      height: 40px;
      background: #eeeeeee3;
      border-radius: 50%;
      font-size: 15px;
      color: #727272;
    }

    &__text {
      @include flexMix(flex-start, flex-start, column);
      margin-left: 14.5px;

      .prefix-you {
        color: #a7a7a7;
      }
      .name {
        margin: 0px 0px 3px 0px;
        font-size: 16.5px;
      }
      .message {
        color: #727272;
        font-size: 14px;
        @include flexMix(flex-start);

        &__last {
          max-width: 60%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-right: 7px;
        }

        &__ago {
          margin-left: 7px;
        }
      }
    }
  }
}
