<ion-item class="stakeholders-item">
  <div class="stakeholders-item__content" (click)="clickItemHandler()">
    <div class="stakeholders-item__content__name-initials">{{ item.contactName | pruningNamePipe }}</div>
    <div class="stakeholders-item__content__text">
      <span class="name">{{ item.contactName }}</span>
      <div class="message" *ngIf="lastMessage$ | async as message">
        <span class="message__last">{{ message.body }} </span> &bull;
        <span class="message__ago">{{ message.dateCreated | appAgoPipe }}</span>
      </div>
    </div>
  </div>
</ion-item>
