<div data-cy="aspired-freelancer-profiles-expertise-buttons" class="separated-list">
  <ion-button (click)="open()" class="separated-list-item">
    <div class="separated-list-item__inner">
      <span> <b>{{ expertise.expertiseLabel }}</b> ({{ counter }})</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </ion-button>
</div>
