<div class="registration-container">
  <h1 data-cy="register-criteria-title" class="reg-title">
    {{ 'teaser-job-criteria.title' | translate }}
  </h1>
  <ion-list>
    <form *ngIf="teaserJobForm.controls as controls" [formGroup]="teaserJobForm">
      <div class="field">
        <ion-select
          formControlName="expertise"
          data-cy="criteria-expertise-dropdown"
          (ionChange)="getProfilesForExpertise()"
          [placeholder]="'teaser-job-criteria.expertise' | translate"
          class="select--fw"
        >
          <ion-select-option *ngFor="let expertise of expertises" [value]="expertise.getValue()">
            {{ expertise.getLabel() }}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="field">
        <ion-select
          formControlName="profile"
          data-cy="criteria-profile-dropdown"
          [placeholder]="'teaser-job-criteria.profile' | translate"
          class="select--fw"
        >
          <ion-select-option *ngFor="let profile of profilesForExpertise$ | async" [value]="profile.getId()">
            {{ profile.getName() }}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="field">
        <ion-select
          formControlName="maximumTravelTime"
          data-cy="criteria-maximum-travel-time-dropdown"
          [placeholder]="'teaser-job-criteria.maximum-travel-time' | translate"
          class="select--fw"
        >
          <ion-select-option *ngFor="let travelTime of maximumTravelTimes" [value]="travelTime.getKey()">
            {{ travelTime.getTranslation() }}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="field">
        <ion-input
          formControlName="postalCode"
          data-cy="criteria-postalcode"
          [placeholder]="'teaser-job-criteria.postal.code' | translate"
          [class.invalid]="controls.postalCode.invalid && controls.postalCode.touched"
          type="tel"
        ></ion-input>

        <div class="error" *ngIf="controls.postalCode.invalid && controls.postalCode.touched">
          <span
            translate
            *ngIf="controls.postalCode.errors.required"
            [translateParams]="{
              field: 'teaser-job-criteria.postal.code' | translate
            }"
            >validation.required
          </span>

          <span
            translate
            *ngIf="controls.postalCode.errors.pattern"
            [translateParams]="{
              field: 'validation.invalid.postal.code' | translate,
              numberOfChars: '4'
            }"
            >validation.invalid.postal.code
          </span>
        </div>
      </div>

      <div class="terms-item inline-checkbox-label">
        <ion-checkbox formControlName="termsAndConditions" class="inline-checkbox-label__checkbox"></ion-checkbox>
        <span class="terms-link">
          I agree with
          <span class="link" (click)="openTerms()"> terms and conditions </span>
        </span>
      </div>
    </form>
  </ion-list>

  <div class="buttons ion-padding">
    <div class="buttons__container">
      <ion-button
        (click)="saveTeaserJobInput()"
        mode="md"
        expand="block"
        data-cy="register-information-next-button"
        class="btn btn_next"
        [disabled]="checkDisableState()"
        data-cy="match-jobs-button"
        >{{ 'teaser-job-criteria.get.jobs' | translate }}</ion-button
      >
    </div>

    <div class="buttons__step">{{ 'register.step' | translate }} 5/5</div>
  </div>
</div>
