@import '../../../../../theme/variables.scss';
@import '../../../../../mixins/mixins.scss';
@import '../../../../../theme/fonts.scss';

.reg-title {
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin: 0;
  width: 80%;
  margin-bottom: 30px;
  min-width: 305px;
}

.registration-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.field {
  position: relative;
  margin-bottom: 24px;

  ion-select {
    border-radius: 4px;
    background: white !important;
    height: 44px;
    color: gray;
    --padding-start: 16px;
    --padding-end: 10px;
  }
}

.inline-checkbox-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__checkbox {
    margin-right: 5px;
    margin-bottom: 2px;
  }
}

.error {
  color: $error-color;
  position: absolute;
  font-size: 14px;
}

ion-list {
  background-color: transparent;

  ion-input {
    border-radius: 4px;
    --background: white;
    height: 44px;
    color: gray;
    --padding-start: 16px;
  }
}

.buttons {
  padding-bottom: var(--ion-safe-area-bottom, 0);
  @include flexMix($direction: column);
  width: 100%;
  color: white;
  margin-top: auto;

  &__container {
    width: 100%;
    @include flexMix;

    ion-button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__step {
    width: 100%;
    @include flexMix(flex-end);
    padding-bottom: 20px;
  }
}
