@import '../../../../../../theme/fonts.scss';

.rate-component {
  color: grey;
  background: #fff;
  .scroll-content {
    &:before {
      bottom: 0;
    }
  }

  .rate-component__form,
  .rate-component__list {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .rate-component__list {
    display       : flex;
    flex-direction: column;



    ion-item {
      --border-color           : none; // default underline color
      --highlight-color-invalid: none; // invalid underline color
      --highlight-color-valid  : none;
      min-height: 45px;
    }

    .input-text-right {
      text-align: right;
    }

    // .item-input ion-label,
    // .item-toggle ion-label {
    //   color: #999;
    // }

    // .item {
    //   &.ng-invalid .item-inner {
    //     border-color: #f53d3d;
    //   }
    // }

    .gighouse-input-error-message {
      background  : #fff;
      padding-left: 16px;

      .error {
        color    : red;
        font-size: 12px;
      }

    }

    .gighouse-input-helper-message {
      padding-left: 16px;
      font-size: 12px;
      background  : #fff;
    }

    ion-label {
      color: grey;
    }

    .toggle {
      --background-checked       : pink;
      --handle-background-checked: #e0004d;
      padding-right              : 1px;
    }

    .rate-textarea {
      --padding-start: none;
      flex-grow: 1;

      ion-label {
        display     : block;
        padding-left: 16px;
        color       : grey;
      }

      ion-textarea {
        --height    : 100%;
        --min-height: 600px;
        width       : 100%;
        margin      : 0px;
        padding-left: 16px;
        color       : grey;
      }



      .item-inner {
        padding-right: 16px;

        .input-wrapper {
          display       : flex;
          flex-direction: column;

          textarea.text-input {
            width : 100%;
            margin: 0;
            height: 100%;
          }
        }
      }
    }
  }
}
