<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span data-cy="rate-title" translate>rate.title</span>
    </ion-title>
    <ion-buttons class="toolbar-btn-save" slot="end">
      <button ion-button (click)="saveRate()" data-cy="rate-save-button" [disabled]="isSavingDisabled()">
        <span translate>rate.save</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-silver rate-component" *ngIf="rateForm" [scrollY]="true">
  <form [formGroup]="rateForm" class="rate-component__form">
    <ion-list class="rate-component__list list-spaced mb-0" lines="none">
      <ion-item>
        <!-- [class.ng-invalid]="rateForm.controls.dayFee.invalid && rateForm.controls.dayFee.touched" -->
        <ion-label>
          <span translate>rate.day-fee.label</span>
        </ion-label>
        <ion-input [placeholder]="'rate.day-fee' | translate" formControlName="dayFee" type="number"
          data-cy="rate-day-fee" class="input-text-right">
        </ion-input>
      </ion-item>
      <ng-container *ngIf="rateForm.controls.dayFee.dirty && rateForm.controls.dayFee.errors; else dayFeeHelper">
        <div class="gighouse-input-error-message">
          <span class="error" translate *ngIf="rateForm.controls.dayFee.errors.invalid"
            [translateParams]="{field: 'rate.day-fee' | translate}">validation.invalid.format</span>
          <span class="error" translate *ngIf="rateForm.controls.dayFee.errors.pattern"
            [translateParams]="{field: 'rate.day-fee' | translate}">validation.invalid.format</span>
          <span class="error" translate *ngIf="rateForm.controls.dayFee.errors.required"
            [translateParams]="{field: 'rate.day-fee' | translate}">validation.required</span>


          <!-- <span class="error"
            translate
            *ngIf="rateForm.controls.dayFee.errors.max"
            [translateParams]="{field: 'rate.day-fee' | translate}"
            >validation.max.value</span> -->
        </div>
      </ng-container>
      <!-- <div class="gighouse-input-error-message" *ngIf="rateForm.controls.dayFee.invalid && rateForm.controls.dayFee.touched; else dayFeeHelper" translate
        [translateParams]="{field: 'rate.day-fee' | translate}">
        validation.max.value
      </div> -->
      <ng-template #dayFeeHelper>
        <div class="gighouse-input-helper-message" translate>
          rate.day-fee.includes.distance
        </div>
      </ng-template>

      <ion-item>
        <ion-label>
          <span translate>rate.day-fee.negotiable.label</span>
        </ion-label>
        <ion-toggle class="toggle" formControlName="dayFeeNegotiable" data-cy="rate-day-fee-negotiable-toggle">
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>
          <span translate>rate.hourly-fee.label</span>&nbsp;<span class="optional-field" translate>rate.optional</span>
        </ion-label>
        <ion-input [placeholder]="'rate.hourly-fee' | translate" formControlName="hourlyFee" type="number"
          data-cy="rate-hourly-fee" class="input-text-right">
        </ion-input>
      </ion-item>

      <div class="gighouse-input-error-message"
        *ngIf="rateForm.controls.hourlyFee.invalid && rateForm.controls.hourlyFee.touched; else hourFeeHelper" translate
        [translateParams]="{field: 'rate.hourly-fee' | translate}">
        validation.max.value
      </div>
      <ng-template #hourFeeHelper>
        <div class="gighouse-input-helper-message" translate>
          rate.hourly-fee.includes.distance
        </div>
      </ng-template>

      <ion-item class="rate-textarea" lines=“none”>
        <ion-label>
          <span translate>rate.comment</span>&nbsp;<span class="optional-field" translate>rate.optional</span>
        </ion-label>
      </ion-item>
      <ion-item class="rate-textarea" lines=“none”>
        <ion-textarea [placeholder]="'rate.comment.placeholder' | translate" formControlName="comment" type="text"
          data-cy="rate-comment" maxlength="255" rows="20">
        </ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
