<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h6>{{ customerName }}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-silver ion-padding" #scrollContainer>
  <ion-infinite-scroll class="infinite" threshold="100px" position="top" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngFor="let item of messages; let i = index">
    <div
      *ngIf="i === 0 || (item.dateUpdated | date: 'dd-MM') !== (messages[i - 1].dateUpdated | date: 'dd-MM')"
      class="inbox-date"
    >
      {{ item.dateUpdated | date: 'longDate' }}
    </div>
    <app-message-item [item]="item" [freelancerId]="freelancerId"></app-message-item>
  </div>
</ion-content>

<ion-footer class="footer__input-line">
  <!-- <ion-button class="input-line__attach-btn" (click)="attachFiles()">
    <ion-icon name="attach" class="input-line__attach-btn__icon"></ion-icon>
  </ion-button> -->
  <ion-input
    class="messages-list__form__input"
    [(ngModel)]="message"
    (keydown.enter)="sendMessage()"
    placeholder="Type your message here"
  ></ion-input>
  <ion-button class="input-line__send-btn" (click)="sendMessage()">
    <ion-icon name="paper-plane" class="input-line__send-btn__icon"></ion-icon>
  </ion-button>
</ion-footer>
