@import '../../../../../mixins/mixins.scss';

ion-footer {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  border: none;
  background-color: #fff;

  .input-line__send-btn {
    --background: none;
    --box-shadow: none;
    --padding-start: 2px;
    --padding-end: 2px;

    &__icon {
      color: #e0004d;
      transform: rotate(45deg);
      font-size: 30px;
      margin-right: 5px;
    }
  }

  .input-line__attach-btn {
    --background: none;
    --box-shadow: none;
    --padding-start: 2px;
    --padding-end: 2px;

    &__icon {
      color: #b9b9b9;
      font-size: 30px;
      margin-right: 5px;
    }
  }
}

.inbox-date {
  width: 100%;
  @include flexMix;
  color: #b9b9b9;
  padding: 20px 0;
}

.infinite {
  height: 10px !important;
}
