<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start" class="toolbar-settings">
      <ion-button (click)="openSettingsPage()" data-cy="settings-button" class="settings-button">
        <img src="/assets/icons/icon-white-settings.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img class="logo" src="/assets/icons/gighouse-logo-white.svg" alt="{{ 'gighouse.logo' | translate }}" />
    </ion-title>
    <ion-buttons slot="end" class="toolbar-chat-list">
      <ion-button (click)="openChatList()" data-cy="setting-button" class="chat-list-button">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <div *ngIf="isHaveUnreadMessages$ | async" class="new-message-circle"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="profile-view" *ngIf="isExistingUser$ | async; else newUser">
    <div *ngIf="freelancerDetails$ | async as freelancerDetails" class="content">
      <div
        class="profile-completeness"
        *ngIf="profileCompleteness && !profileCompleteness.isPercentage100Percent()"
        (click)="openProfileCompletenessPopover()"
      >
        <div class="profile-completeness__box">
          <div class="profile-completeness__progress" [style.width.%]="profileCompleteness.getPercentageComplete()">
            Profiel <strong>{{ profileCompleteness.getPercentageComplete() }}%</strong>
          </div>
        </div>
        <div class="profile-completeness__action"></div>
      </div>
      <div class="profile-user">
        <div class="container profile-user-wrapper">
          <div class="profile-user__content">
            <div class="profile-user__box">
              <div class="profile-user__name">
                <h1 data-cy="fullname">{{ freelancerDetails.firstName }} {{ freelancerDetails.lastName }}</h1>
              </div>
              <div class="profile-user__edit">
                <button (click)="openDetailPage()" class="button" data-cy="profile-details-button">
                  <strong translate>home.edit</strong>
                </button>
              </div>
            </div>
            <div class="profile-user__function" data-cy="function">{{ freelancerDetails.profile.getName() }}</div>
            <div class="profile-user__location" data-cy="location-and-companyname">
              {{ freelancerDetails.company | cityAndCompanyName }}
            </div>
          </div>
        </div>
      </div>

      <div class="tabs">
        <div
          class="tabs__item"
          [routerLink]="'/tabs/profile/' + item.path"
          routerLinkActive="tabs__item_active"
          *ngFor="let item of tabs"
        >
          {{ item.text | translate }}
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>
<ng-template #newUser>
  <span translate>home.new.user.detected</span>
</ng-template>
