@import '../../../theme/fonts.scss';
@import '../../../mixins/mixins.scss';
@import '../../../theme/variables.scss';

ion-content {
  --background: #f5f6f7;
  .profile-view {
    height: 100%;
    .content {
      height: 100%;
      .profile-completeness {
        padding: 4px 34px 4px 8px;
        background: #4a4266;
        position: relative;
        cursor: pointer;

        &:before {
          content: '?';
          position: absolute;
          height: 22px;
          width: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 12px;
          background: #797391;
          border-radius: 50%;
          color: #fff;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
        }

        & + .profile-user {
          padding-top: 4px;
        }
      }

      .profile-completeness__box {
        height: 22px;
        background: #eee;
        border-radius: 4px;

        .profile-completeness__progress {
          height: 22px;
          background: $active-header;
          border-radius: 4px;
          display: flex;
          padding: 0 8px;
          align-items: center;
          font-size: 12px;
          color: #fff;
          position: relative;
          border-top-right-radius: 0;
          border-bottom-right-radius: 9px;

          strong {
            margin-left: 5px;
          }

          &:before {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(50%);
            background: url('/assets/icons/gig-man.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 22px 22px;
          }
        }
      }
      .profile-user {
        color: #201547;
        padding: 16px 0;
        height: 110px;
        position: relative;
        padding-left: 16px;

        .profile-user__content {
          flex-grow: 1;
          overflow: hidden;
        }

        .profile-user__box {
          display: flex;
          justify-content: space-between;
        }

        .profile-user__name {
          margin-top: 0.5rem;
          max-width: 75%;

          h1 {
            margin: 0;
            font-size: 20px;
            font-weight: 700;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .profile-user__edit {
          .button {
            margin-top: 15px;
            margin-right: 16px;
            color: $active-header;
            background: none;
            strong {
              text-decoration: underline;
              color: $active-header;
            }
          }
        }

        .profile-user__function {
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .profile-user__location {
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.tabs {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 6px;

  &__item {
    width: 100%;
    @include flexMix;
    height: 50px;
    border-bottom: 3px solid transparent;
    user-select: none;
    outline: none;

    &_active {
      color: $active-header;
      border-bottom: 3px solid $active-header;
    }
  }
}
