<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span translate>other-aspired-profile.title</span></ion-title>

    <ion-buttons slot="end" class="toolbar-chat-list">
      <ion-button data-cy="setting-button" class="chat-list-button">
        <ion-button [disabled]="!hasChanges()" (click)="saveData()" data-cy="aspired-freelancer-profiles-save-button">
          <span translate>other-aspired-profile.save</span>
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" *ngIf="otherAspiredProfile$ | async">
    <ion-list>
      <ion-item-group>
        <ion-item>
          <ion-textarea
            id="textArea"
            maxlength="255"
            rows="5"
            [placeholder]="'other-aspired-profile.placeholder' | translate"
            formControlName="other"
            type="text"
            data-cy="other-aspired-profile-other"
            class="text-area"
          >
          </ion-textarea>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </form>
</ion-content>
