@import "../../../theme/fonts.scss";
.gighouse-content {
  .container-timesheets {
    .content-timesheets {
      .content__header {
        display: flex;
        justify-content: space-between;
        --background: #4a4266;
        color: white;
      }
    }
  }
}
ion-footer {
  .footer__buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    button {
      &:hover,
      &:focus {
        border: none;
        outline: none;
      }
      width: 45%;
      height: 50px;
      border-radius: 10px;
      background-color: #e0004d;
      color: white;
    }
    .disabled-button {
      background-color: grey;
    }
    .button__add {
      background-color: #201547;
    }
  }
}
