<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start" class="toolbar-settings">
      <ion-button (click)="openSettingsPage()" data-cy="settings-button" class="settings-button">
        <img src="/assets/icons/icon-white-settings.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img class="logo" src="/assets/icons/gighouse-logo-white.svg" alt="{{ 'gighouse.logo' | translate }}" />
    </ion-title>
    <ion-buttons slot="end" class="toolbar-chat-list">
      <ion-button (click)="openChatList()" data-cy="setting-button" class="chat-list-button">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <div *ngIf="isHaveUnreadMessages$ | async" class="new-message-circle"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gighouse-content background-silver timesheet">
  <div *ngIf="timesheets$ | async as timesheets" class="container-timesheets">
    <div *ngIf="timesheetIds; else noTimesheets" class="content-timesheets">
      <ion-item class="content__header">
        <ion-label>My entries</ion-label>
        <ion-select
          (ionChange)="fetchLastTimesheets()"
          [(ngModel)]="selectedFilter"
          [placeholder]="'timesheet.period' | translate"
          [okText]="'availability.date-picker.doneText' | translate"
          [cancelText]="'availability.date-picker.cancelText' | translate"
        >
          <ion-select-option *ngFor="let item of filterItems" [value]="item.countDays">
            {{ item.value | translate }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <app-timesheet
        *ngFor="let timesheet of timesheetIds"
        [timesheet]="timesheets[timesheet]"
        (openView)="openView($event)"
        (sendSubmit)="submitReceiver($event, timesheets)"
      ></app-timesheet>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-buttons class="footer__buttons">
    <button ion-button class="button__add" (click)="addNewTimesheet()" data-cy="timesheet-add-button">
      {{ 'timesheet.button.addEntry' | translate }}
    </button>
    <button
      ion-button
      (click)="submitAllTimesheets()"
      [disabled]="!isEnabledSubmitAll"
      [class.disabled-button]="!isEnabledSubmitAll"
      data-cy="timesheet-submit-all-button"
    >
      {{ 'timesheet.button.submitAll' | translate }}
    </button>
  </ion-buttons>
</ion-footer>

<ng-template #noTimesheets>
  <div class="container no-justify">
    <p>
      <span translate>timesheet.no.timesheets.contact.part1</span>
      &nbsp;
      <a href="tel:{{ phoneNumber }}"><span translate>contact.phone.number</span></a>
      <span translate>timesheet.no.timesheets.contact.part2</span>
    </p>
  </div>
</ng-template>
