<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start" class="toolbar-settings">
      <ion-button (click)="openSettingsPage()" data-cy="settings-button" class="settings-button">
        <img src="/assets/icons/icon-white-settings.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img class="logo" src="/assets/icons/gighouse-logo-white.svg" alt="{{ 'gighouse.logo' | translate }}" />
    </ion-title>
    <ion-buttons slot="end" class="toolbar-chat-list">
      <ion-button (click)="openChatList()" data-cy="setting-button" class="chat-list-button">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <div class="new-message-circle" *ngIf="isHaveUnreadMessages$ | async"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="subheader" *ngIf="(possibleJobs$ | async) as jobs" data-cy="possible-jobs-title">
    <h1 class="active-title" data-cy="timesheet-title">{{ 'possible-jobs.title' | translate }}</h1>
    <div *ngIf="jobs">
      <span>{{ 'possible-jobs.explanation.part1' | translate }}</span>
      <br />
      <span>{{ 'possible-jobs.explanation.part2' | translate }}</span>
    </div>
  </div>

  <div class="assignments">
    <div class="assignments__content">
      <div *ngIf="!(possibleJobs$ | async)" class="assignments__content-nodata">
        <p innerHtml="{{ 'possible-jobs.no.jobs.line1embed' | translate }}"></p>
        <p innerHtml="{{ 'possible-jobs.no.jobs.line2embed' | translate }}"></p>
        <p innerHtml="{{ 'possible-jobs.no.jobs.line3embed' | translate }}"></p>
        <p>
          <span>{{ 'possible-jobs.no.jobs.line4' | translate }}</span>
        </p>
        <p>
          <span>{{ 'possible-jobs.no.jobs.line5' | translate }} </span>
          <a class="phone-link" href="tel:{{ phoneNumber }}"><span>{{ 'contact.phone.number' | translate }}</span></a>
        </p>
      </div>

      <ion-list *ngIf="(possibleJobs$ | async) as jobs">
        <div *ngFor="let job of jobs">
          <app-possible-job-card [job]="job" (openEvent)="openJobDetail($event)"></app-possible-job-card>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
