@import "../../../theme/fonts.scss";
@import "../../../theme/variables.scss";
@import "../../../mixins/mixins.scss";

ion-content {
  --background: #f5f6f7;
}

.subheader {
  color: $muted-text-color;
  font-size: 15px;
}

.assignments {
  margin-top: 1rem;

  &__content {
    color: $muted-text-color;
    text-align: justify;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
}
