@import '../../../../theme/fonts.scss';
@import '../../../../theme/variables.scss';

.edit-timesheet {
  padding: 10px 16px !important;

  .button-save {
    &:hover,
    &:focus {
      border: none;
      outline: none;
    }
    width: 300px;
    height: 50px;
    border: none;
    background: $active-header;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
  .is-disabled {
    opacity: .5;
  }

  .timesheet-form {
    // display: block;
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    border: none;

    ion-label {
      margin: 15px 0px 10px 0px !important;
      display: block;
      color: grey;
      font-size: 14px;
    }

    .format {
      display: block;
      margin: 0px auto;
      position: relative;
      padding: auto 10px;
      width: 100%;
      height: 50px;
      border: 1px solid lightgrey;
      display: flex;
      align-items: center;
      border-radius: 10px;
    }

    .time {
      width: 40%;
      max-width: 40%;
    }

    .timesheet__comment {
      width: 100%;
      height: 150px !important;
      border: 1px solid lightgrey;
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
}

.timesheet-error {
  border: 1px solid $error-color !important;
}
