<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img class="logo" src="/assets/icons/gighouse-logo-white.svg" alt="{{ 'gighouse.logo' | translate }}" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="edit-timesheet">
    <h2 class="header" *ngIf="timesheetId">{{ 'edit.timesheet.entry' | translate }}</h2>
    <h2 class="header" *ngIf="!timesheetId">{{ 'timesheet.button.addEntry' | translate }}</h2>
    <form *ngIf="timesheetForm" class="timesheet-form" [formGroup]="timesheetForm">
      <ion-label>{{ 'availability.date' | translate }}</ion-label>
      <ion-datetime
        [min]="dateFrom"
        [max]="dateTo"
        class="field format"
        formControlName="date"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD MMMM YYYY"
        [monthNames]="'availability.monthNames' | translate"
        [doneText]="'availability.date-picker.doneText' | translate"
        [cancelText]="'availability.date-picker.cancelText' | translate"
        data-cy="availability-date"
      >
      </ion-datetime>

      <ion-label>{{ 'availability.project' | translate }}:</ion-label>
      <ion-select
        class="format"
        *ngIf="projects$ | async as projects"
        formControlName="projectId"
        [class.timesheet-error]="timesheetForm.controls.projectId.invalid && timesheetForm.controls.projectId.touched"
      >
        <ion-select-option
          *ngFor="let project of projects; let i = index"
          [value]="project.jobId"
          [attr.selected]="true"
        >
          {{ project.name }}</ion-select-option
        >
      </ion-select>

      <ion-label>{{ 'availability.time' | translate }}:</ion-label>
      <ion-datetime
        class="format"
        displayFormat="HH:mm"
        pickerFormat="HH:mm"
        formControlName="time"
        min="00:30"
        [class.timesheet-error]="timesheetForm.controls.time.invalid && timesheetForm.controls.time.touched"
      >
      </ion-datetime>

      <div class="items" *ngIf="rates$ | async as rates">
        <ion-label>{{ 'availability.rate' | translate }}:</ion-label>
        <ion-select
          class="format"
          formControlName="rateId"
          [class.timesheet-error]="timesheetForm.controls.rateId.errors"
        >
          <ion-select-option *ngFor="let item of rates" [value]="item.rateId">{{ item.fee }}</ion-select-option>
        </ion-select>
      </div>
      <ion-label>{{ 'input.comments' | translate }}:</ion-label>
      <ion-textarea
        class="format timesheet__comment"
        formControlName="comment"
        [class.timesheet-error]="timesheetForm.controls.comment.invalid && timesheetForm.controls.comment.touched"
        maxlength="255"
      >
      </ion-textarea>
    </form>
    <button
      *ngIf="timesheetId"
      ion-button
      expand="full"
      class="button-save"
      (click)="saveChanges()"
      [disabled]="timesheetForm?.invalid"
    >
      {{ 'timesheet.button.saveChanges' | translate }}
    </button>
    <button
      *ngIf="!timesheetId"
      ion-button
      expand="full"
      class="button-save"
      (click)="saveChanges()"
      [disabled]="timesheetForm?.invalid"
      [class.is-disabled]="timesheetForm?.invalid"
    >
      {{ 'timesheet.button.addEntry' | translate }}
    </button>
  </div>
</ion-content>
