@import '../../../../../theme/fonts.scss';
.card {
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05) !important;
  width: auto;
  margin-bottom: 0.5rem;
  margin-inline: 0;

  .card-header {
    padding: 0.8rem 1.5rem;
    color: black !important;

    .card-name {
      width: 90% !important;
      color: black !important;
    }

    ul {
      padding: 0;
      margin: 10px 0 0 0;
      color: #e0004d;
      list-style-type: circle #e0004d;
      list-style-position: inside;

      li {
        span {
          color: black;
          font-size: 14px;
          font-weight: 450 !important;
        }
      }

      li:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    .message-list-btn {
      position: absolute;
      --background: none;
      color: #e0004d;
      --box-shadow: none;
      top: 0.5rem;
      right: 1rem;
      font-size: 17px;
      transform: scaleX(-1);
      z-index: 200;
      --padding-start: 0px;
      --padding-end: 0px;
      height: auto;
    }
  }
  .card-content {
    background: #e3e7ea;
    color: black;
    font-size: 15px;
    position: relative;
    padding: 10px 1.6rem;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   margin: 0 0 0 -10px;
    //   width: 0;
    //   height: 0;
    //   border-style: solid;
    //   border-width: 10px 10px 0 10px;
    //   border-color: #ffffff transparent transparent transparent;
    // }

    p {
      color: #fff;
    }
  }

  .card-meta {
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: flex;
      width: 50%;
      margin: 5px 0;

      &:nth-child(even) {
        padding: 0 0 0 20px;
      }
    }
  }

  .card-icon {
    width: 21px;
    height: 21px;
    margin-right: 8px;
  }
}
