<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img
        class="logo"
        src="assets/icons/gighouse-logo-white.svg"
        alt="{{ 'gighouse.logo' | translate }}"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings" >
  <ion-list>
    <ion-item (click)="logout()" data-cy="logout-button">
      <ion-label>
        <h3>{{ "settings.logout" | translate }}</h3>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="openPrivacyPolicy()" >
      <ion-label>
        <h3>{{ "settings.privacy.policy" | translate }}</h3>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="changeLanguage()">
      <ion-label>
        <h3>{{ "setting.appLanguage" | translate }}: {{ languageName }}</h3>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
