div {
  .row {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    .col {
      padding: 0;

    }
  }
}

.row-stars {
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
  .stars {
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;
  }
}
.skill__sub__category {
  padding-left: 16px;

  app-skill-item {
    .row {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 2.5px;
        top: 0;
        bottom: 0;
        width: 1px;
        border-left: 1px solid #ddd;
      }

      &:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border: 2px solid #e0004d;
        background: #f5f6f7;
        border-radius: 50%;
        top: 50%;
        left: -2px;
        transform: translateY(-50%);
      }
    }

    &:last-child {
      .row {
        &:before {
          bottom: 50%;
        }
      }
    }

    app-skill-item:not(:only-child) {
      .row {
        &:before {
          bottom: 0;
        }
      }

      &:last-child {
        .row {
          &:before {
            bottom: 50%;
          }
        }
      }
    }
  }
}
