<div *ngIf="isSkillACategory(); else noCategory">
  <ion-row class="row" align-items-center (click)="toggleCategoryOpen()" data-cy="skill-item-category">
    <ion-col class="col">
      <ion-item class="skill__item" lines="none">
        <ion-label><span>{{skill.description}}</span></ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="col" col-auto>
      <ion-icon name="arrow-down" *ngIf="categoryOpen; else categoryClosed"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<div *ngIf="categoryOpen" class="skill__sub__category">
  <app-skill-item *ngFor="let skill of getSubSkills()" [skill]="skill" data-cy="skill-item-sub-category">
  </app-skill-item>
</div>

<ng-template #noCategory>
  <ion-row align-items-center class="row-stars">
    <ion-col>
      <ion-item lines="none" class="skill__item" data-cy="skill-item-item">
        <ion-label><span>{{skill.description}}</span></ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="stars" col-auto>
      <app-star-rating class="skill__rating" [rating]="skill.rating" [amountOfStars]="AMOUNT_OF_STARS"
                       (rateEvent)="updateFreelancerSkillRating($event)">
      </app-star-rating>
    </ion-col>
  </ion-row>
</ng-template>

<ng-template #categoryClosed>
  <ion-icon name="arrow-forward"></ion-icon>
</ng-template>
