<div class="registration-container">
  <strong data-cy="register-mobilephone-title">{{ 'register-phone.title' | translate }}</strong>

  <ion-list *ngIf="userPhoneForm">
    <form *ngIf="userPhoneForm.controls as controls" [formGroup]="userPhoneForm">
      <div class="field" [class.invalid]="controls.phone.dirty && controls.phone.errors">
        <ion-input
          [placeholder]="'register-phone.placeholder' | translate"
          (keydown.enter)="register()"
          type="tel"
          formControlName="phone"
          data-cy="register-mobilephone"
        ></ion-input>

        <ng-container *ngIf="controls.phone.dirty && controls.phone.errors">
          <div class="error">
            <span
              translate
              *ngIf="controls.phone.errors.required"
              [translateParams]="{
                field: 'register-phone.mobile.phone.label' | translate
              }"
              >validation.required</span
            >

            <span
              translate
              *ngIf="controls.phone.errors.pattern"
              [translateParams]="{
                field: 'register-phone.mobile.phone.label' | translate,
                numberOfChars: '10'
              }"
              >validation.invalid.mobile.phone</span
            >
          </div>
        </ng-container>
      </div>

      <div class="helper-text">
        <p>
          <strong>{{ 'register-phone.why.mobilephone' | translate }}</strong>
        </p>
        <p>{{ 'register-phone.why.mobilephone.explanation' | translate }}</p>
      </div>

      <div class="field inline-checkbox-label">
        <ion-checkbox
          formControlName="newsletter"
          data-cy="register-newsletter-check-box"
          class="inline-checkbox-label__checkbox"
        ></ion-checkbox>
        <ion-label text-wrap>{{ 'register-phone.newsletter.label' | translate }}</ion-label>
      </div>

      <div class="helper-text">
        <p>{{ 'register-phone.newsletter.helper-text' | translate }}</p>
      </div>
    </form>
  </ion-list>

  <div class="buttons ion-padding">
    <div class="buttons__container">
      <ion-button (click)="back()" mode="md" expand="block" class="btn btn_standart">{{
        'register.back' | translate
      }}</ion-button>
      <ion-button
        (click)="register()"
        [disabled]="userPhoneForm.invalid"
        mode="md"
        expand="block"
        class="btn btn_next"
        >{{ 'register.next' | translate }}</ion-button
      >
    </div>
    <div class="buttons__step">{{ 'register.step' | translate }} 3/5</div>
  </div>
</div>
