<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ skill.description }}</ion-title>
    <ion-buttons class="toolbar-btn-save" slot="end">
      <button
        ion-button
        (click)="saveData()"
        data-cy="skill-navigation-bar-save-button"
        [disabled]="isSavingDisabled()"
      >
        <span translate>skill-navigation-bar.save</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="content-list">
    <div value="skills" class="ability-menu">
      <ion-item [class.item__active]="!isTools">
        <label for="skills">Skills</label>
        <input
          type="radio"
          class="radio-item"
          value="skills"
          id="skills"
          (click)="changeIsTools(false)"
          name="radios"
        />
      </ion-item>

      <ion-item [class.item__active]="isTools">
        <label for="tools">Tools</label>
        <input type="radio" class="radio-item" value="tools" id="tools" (click)="changeIsTools(true)" name="radios" />
      </ion-item>
    </div>
  </ion-list>
  <app-skill-selection [skillList]="isTools ? skill.tools : skill.skills"></app-skill-selection>
</ion-content>
