ion-content {
  .content-list {
    --background: #201547 !important;
    padding     : 0;

    .ability-menu {
      display        : flex;
      justify-content: center;
      background: #201547;
      ion-item {
        // color: #e0004d;
        width          : 50%;
        --padding-start: 0;
        text-align     : center;
        --background   : #201547 !important;
        color          : #f5f6f7;
        font-size      : 14px;
        label {
          width: 100%;
          padding-left: 16px;
        }
        .radio-item {
          display: none;

        }



        width: 50%;
      }
      ion-item.item__active {
        color        : #e0004d;
        font-size    : 16px;
        border-bottom: 3px solid #e0004d;
      }
    }
  }
}
