<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="assets/icons/gighouse-logo-white.svg" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-silver">
  <h1 class="title title_big">{{ 'teaser-job-overview.title' | translate }}</h1>

  <div class="gighouse-content__main">
    <div class="container">
      <ng-container *ngIf="teaserJobs$ | async as teaserJobs">
        <ion-list *ngIf="teaserJobs.length > 0; else noJobs">
          <div class="content">
            <span>{{ 'teaser-job-overview.jobs' | translate }}</span>
          </div>
          <div *ngFor="let teaserJob of teaserJobs">
            <app-teaser-job-card [job]="teaserJob"></app-teaser-job-card>
          </div>
        </ion-list>
      </ng-container>

      <ng-template #noJobs>
        <div class="content">
          <span>{{ 'teaser-job-overview.no.jobs' | translate }}</span>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="buttons ion-padding">
    <div class="fatbutton" (click)="completeProfile()" data-cy="teaserjob-overview-complete-profile-button">
      <span>
        {{ 'teaser-job-overview.complete.profile' | translate }}
      </span>
      <small>{{ 'teaser-job-overview.complete.profile.subtext' | translate }}</small>
    </div>
  </div>
</ion-content>
