@import '../../../mixins/mixins.scss';
@import '../../../theme/variables.scss';

.buttons {
  padding-bottom: var(--ion-safe-area-bottom, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  @include flexMix($direction: column);
  width: 100%;
  color: white;

  .fatbutton {
    height: 60px;
    background-color: #f53d3d;
    @include flexMix($direction: column);
    width: 100%;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;

    span {
      font-weight: bold;
      font-size: 22px;
    }
  }

  &__step {
    width: 100%;
    @include flexMix(flex-end);
    padding-bottom: 20px;
  }
}

.content {
  padding-top: 20px;
}
