<ion-list (click)="openDescription()">
  <ion-card class="card" data-cy="job">
    <ion-card-header class="card-header">
      <ion-button (click)="openChat($event)" class="message-list-btn">
        <ion-icon name="chatbox-outline"></ion-icon>
      </ion-button>
      <h1 class="active-title card-name">{{ name }}</h1>
      <ul>
        <li>
          <span>{{ teaserText1 }}</span>
        </li>
        <li>
          <span>{{ teaserText2 }}</span>
        </li>
        <li>
          <span>{{ teaserText3 }}</span>
        </li>
      </ul>
    </ion-card-header>
    <ion-card-content class="card-content">
      <div class="card-meta">
        <div class="card-meta__item">
          <img src="assets/icons/icon-white-travel-time-2.svg" class="card-icon" />
          {{ location | valueOrDash }}
        </div>
        <div class="card-meta__item">
          <img src="assets/icons/icon-white-rate.svg" class="card-icon" />

          {{ fee | amountOrDash }}<span>{{ 'possible-job-card.a.day' | translate }}</span>
        </div>
        <div class="card-meta__item">
          <img src="assets/icons/icon-white-start-date.svg" class="card-icon" />
          {{ startDate | valueOrDash }}
        </div>
        <div class="card-meta__item">
          <img src="assets/icons/icon-white-job-list.svg" class="card-icon" />

          {{ daysAWeek | valueOrDash }}<span>{{ 'possible-job-card.days.a.week' | translate }}</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-list>
