<div class="answers">
  <ion-title *ngIf="data && data.title">{{ data.title }}</ion-title>
  <button ion-button clear *ngFor="let option of data.options" expand="full" fill="clear" (click)="saveAnswer(option)">{{
    option.name
  }}</button>
</div>
