@import "../../../../theme/fonts.scss";

.answers {
  display       : flex;
  flex-direction: column;
  overflow      : hidden;
  background    : #fff;

  ion-title {
    min-height: 45px;
  }

  button {
    color     : var(--ion-color-secondary);
    border-top: 1px solid var(--ion-color-line);
    margin    : 0;
    width     : 100%;
    height    : 40px;
    color     : black;
    background: #fff;
  }
}
