<div *ngIf="aspiredFreelancerProfilesByExpertise" data-cy="aspired-freelancer-profiles-tab-content">
  <app-aspired-item
    [expertise]="expertise"
    *ngFor="let expertise of aspiredFreelancerProfilesByExpertise"
    (openExpertise)="openAspiredFreelancerProfiles($event)"
  ></app-aspired-item>
  <div class="separated-list" data-cy="aspired-freelancer-profiles-other-button">
    <ion-button (click)="openOtherAspiredFreelancerProfile()" class="separated-list-item">
      <div class="separated-list-item__inner">
        <span
          ><b translate>aspired-freelancer-profiles.other.expertise</b>
          <span *ngIf="otherAspiredProfileFilledIn; else noOther">(1)</span></span
        >
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </ion-button>
  </div>
</div>
<ng-template #noOther> (0) </ng-template>
