@import '../../../../../mixins/mixins.scss';
@import '../../../../../theme/fonts.scss';

.registration-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.buttons {
  padding-bottom: var(--ion-safe-area-bottom, 0);
  @include flexMix($direction: column);
  width: 100%;
  color: white;
  margin-top: auto;

  &__container {
    width: 100%;
    @include flexMix;

    ion-button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__step {
    width: 100%;
    @include flexMix(flex-end);
    padding-bottom: 20px;
  }
}

.register-information {
  .register-information__avatar {
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 10px solid #4a4468;
    margin-bottom: -32px;
    margin-top: -10px;
    position: relative;
    display: flex;

    > img {
      border-radius: 50%;
      border: 2px solid #e0004d;
    }
  }

  .register-information__text {
    background: #fff;
    border-radius: 6px;
    padding: 48px 16px 16px;
    font-size: 16px;
    line-height: 1.4;
    color: #201547;
    margin-bottom: 16px;
    text-align: justify;

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}

.reg-title {
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin: 0;
  width: 80%;
  margin-bottom: 30px;
  min-width: 305px;
}
