<div class="registration-container">
  <h1 class="reg-title" data-cy="register-information-title">
    {{ 'register-information.title' | translate }}
  </h1>

  <div class="gighouse-form__content register-information">
    <div class="register-information__avatar">
      <img src="assets/icons/Naomi500.png" alt="Naomi" />
    </div>

    <div class="register-information__text">
      <p>{{ 'register.information.text1' | translate }}</p>
      <p>{{ 'register.information.text2' | translate }}</p>
      <p>
        {{ 'register.information.text3' | translate }}<br />
        {{ 'register.information.text4' | translate }}
      </p>
    </div>
  </div>

  <div class="buttons ion-padding">
    <div class="buttons__container">
      <ion-button
        (click)="next()"
        mode="md"
        expand="block"
        data-cy="register-information-next-button"
        class="btn btn_next"
        >{{ 'register.next' | translate }}</ion-button
      >
    </div>

    <div class="buttons__step">{{ 'register.step' | translate }} 4/5</div>
  </div>
</div>
