<div class="height-100 fix-to-tabs">
  <div class="biography-container" [class.display-none]="isBiographyLoading">
    <h1 translate data-cy="biography-title">biography.your.biography</h1>
    <div class="content">
      <p *ngIf="!hasBiography()" translate>biography.no.biography</p>
      <app-biography-content
        [freelancerBiography]="freelancerBiography?.biography"
        [showBiography]="showBiography"
        (showFullButton)="updateShowFullButton($event)"
      ></app-biography-content>
    </div>
    <button
      *ngIf="hasBiography() && !showBiography && showFullButton"
      ion-button
      block
      color="light-grey"
      (click)="showFullBiography()"
    >
      {{ 'biography.showFull' | translate }}
    </button>
    <button type="submit" ion-button block color="primary" data-cy="open-biography" (click)="openBiographyComponent()">
      <span *ngIf="hasBiography()" translate>biography.edit</span>
      <span *ngIf="!hasBiography()" translate>biography.enter</span>
    </button>
  </div>
</div>
