.biography-container {
  padding: 0 10px;


  button {
    padding: 10px;
  }

  h1 {
    font-weight: bold;
    color: #e0004d;
  }

  button[type=submit] {
    width: 100%;
    padding: 13px 0;
    background-color: #e0004d;
    color: #FFF;
    font-size: 15px;
    margin-top: 50px;
  }

  p {
    opacity: .7;
  }
}
