<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="assets/icons/gighouse-logo-white.svg" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="registration ion-padding scroll-content" scrollY="true">
  <router-outlet></router-outlet>
</ion-content>
