@import "../../../../../theme/variables.scss";
@import "../../../../../mixins/mixins.scss";
@import "../../../../../theme/fonts.scss";
.actions {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 16px 16px;
  height: 32px;
  background: $background-light;
  box-sizing: border-box;
  left: 0;

  .interests {
    width: 60%;
    height: 44px;
    position: absolute;
    left: 20%;
    top: -22px;
    @include flexMix(space-between);

    .circle-btn {
      width: 44px;
      height: 44px;
      --border-radius: 50%;
      --background: #e0004d;
      font-size: 11px;
    }
  }
}

.job-detail {
  h1 {
    color: #e0004d;
    font-size: 2rem;
    margin: 0;
    font-weight: 700;

    & + p {
      font-size: 1.6rem;
    }
  }

  h2 {
    color: #201547;
    font-size: 2rem;
    margin: 0;
    font-weight: 700;
  }

  ul {
    padding: 0;
    margin: 10px 0 20px 0;
    color: #e0004d;
    list-style: circle inside;

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    span {
      color: #53565a;
      font-weight: 400;
    }
  }
}
