<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-button (click)="close(false)">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img
        class="logo"
        src="assets/icons/gighouse-logo-white.svg"
        alt="{{ 'gighouse.logo' | translate }}"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" data-cy="possible-jobs-content">
  <div *ngIf="jobDetails$ | async as jobDetails">
    <div class="job-detail">
      <h1 data-cy="job-detail-title">{{ jobDetails.getProfileLabel() }}</h1>
      <p data-cy="job-detail-description">{{ jobDetails.getDescription() }}</p>

      <div
        data-cy="job-detail-full-description"
        [innerHTML]="jobDetails.getDescriptionAsRichText()"
      ></div>

      <div *ngIf="jobDetails.getSkills().length > 0">
        <h2>{{ "job-detail.skills.label" | translate }}</h2>
        <ul>
          <li
            *ngFor="let skill of jobDetails.getSkills()"
            data-cy="job-detail-skill"
          >
            <span>{{ skill.getDescription() }}</span
            ><span>&nbsp;{{ skill.getFormattedRequirementLabel() }}</span>
          </li>
        </ul>
      </div>

      <div>
        <h2>{{ "job-detail.our-offer.label" | translate }}</h2>
        <ul>
          <li>
            <span data-cy="job-detail-region"
              >{{ "job-detail.region.label" | translate }}
              {{ jobDetails.getRegion() }}</span
            >
          </li>
          <li *ngIf="jobDetails.getFeeAmount()">
            <span data-cy="job-detail-fee-amount">
              &#x20ac; {{ jobDetails.getFeeAmount() }}/{{
                "job-detail.fee-unit.label" | translate
              }}
            </span>
          </li>
          <li *ngIf="jobDetails.getStartDate()">
            <span data-cy="job-detail-start-date">
              {{ "job-detail.start.label" | translate }}
              {{ jobDetails.getStartDate() }}
            </span>
          </li>
          <li *ngIf="jobDetails.getProjectDurationInWeeks()">
            <span data-cy="job-detail-project-duration">
              {{ jobDetails.getProjectDurationInWeeks() }}
              {{ "job-detail.weeks.label" | translate }}
            </span>
          </li>
          <li *ngIf="jobDetails.getDaysAWeek()">
            <span data-cy="job-detail-days-a-week">
              {{ jobDetails.getDaysAWeek() }}
              {{ "job-detail.days-a-week.label" | translate }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="!(jobDetails$ | async)" class="content">
    <p translate>job-detail.not.available</p>
  </div>

  <div class="actions">
    <div
      *ngIf="(jobDetails$ | async) && isPossibleJob && isCanRate"
      class="interests"
    >
      <ion-button class="circle-btn" (click)="freelancerIsNotInterestedInJob()">
        <img
          src="assets/icons/icon-white-dislike.svg"
          alt="icon like"
          class="icon icon-dislike"
        />
      </ion-button>

      <ion-button
        class="circle-btn"
        (click)="freelancerIsInterestedInJob()"
        data-cy="job-detail-interested"
      >
        <img
          src="assets/icons/icon-white-like.svg"
          alt="icon like"
          class="icon icon-like"
        />
      </ion-button>
    </div>
  </div>
</ion-content>
