@mixin flexMix($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin fontStyle($size: 18px, $color: #201547) {
  font-size: $size;
  color: $color;
  font-family: "Roboto", sans-serif;
}
