<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      <img class="logo" src="/assets/icons/gighouse-logo-white.svg" alt="{{ 'gighouse.logo' | translate }}" />
    </ion-title>
    <!-- <ion-buttons slot="end" class="toolbar-chat-list">
      <ion-button data-cy="setting-button" class="chat-list-button">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="chat-list background-silver">
  <app-chat-projects></app-chat-projects>
</ion-content>
