<div *ngIf="freelancerSkills$ | async as freelancerSkills" class="height-100 fix-to-tabs" data-cy="skills-tab-content">
  <app-skill-category
    *ngFor="let skill of freelancerSkills"
    (openSkillEvent)="openSkill($event)"
    [skill]="skill"
    data-cy="skills-skill-buttons"
    class="separated-list"
  >
  </app-skill-category>
  <div class="separated-list">
    <ion-button margin-top clear block (click)="openLanguages()" data-cy="language-button" class="separated-list-item">
      <div class="separated-list-item__inner">
        <span>
          <b>{{ 'skills.languages' | translate }}</b> ({{ knownLanguages }})</span
        >
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </ion-button>
  </div>
</div>
