<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <span>Back</span>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title" >
      <img class="logo" src="/assets/icons/gighouse-logo-white.svg" alt="{{ 'gighouse.logo' | translate }}" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="view-timesheet" *ngIf="timesheet">
    <div>
      <h1 *ngIf="project$ | async as project">{{project.name}}</h1>
      <div class="view-timesheet__edit">
        <button
          ion-button
          block
          (click)="openEdit()"
          [ngClass]="{'view-timesheet__edit_disable': isDisabled}"
          [disabled]="isDisabled"
          >
          <img src="../../../../assets/icons/pencil.svg" alt="">
        </button>
      </div>
      <div class="view-timesheet__item" *ngIf="timesheet.date">
        <span class="view-timesheet__item__label">{{ 'availability.date' | translate }}</span>
        <span class="view-timesheet__item__value">{{timesheet.date | formatDate}}</span>
      </div>
      <div class="view-timesheet__item" *ngIf="timesheet.duration">
        <span class="view-timesheet__item__label">{{ 'availability.time' | translate }}</span>
        <span class="view-timesheet__item__value">{{timesheet.duration}}</span>
      </div>
      <div class="view-timesheet__item" *ngIf="rate$ | async as rate">
        <span class="view-timesheet__item__label">{{ 'availability.rate' | translate }}</span>
        <span class="view-timesheet__item__value">{{rate.fee}}</span>
      </div>
      <div class="view-timesheet__item" *ngIf="timesheet.comment">
        <span class="view-timesheet__item__label">{{ 'input.comments' | translate }}</span>
        <span class="view-timesheet__item__value">{{timesheet.comment}}</span>
      </div>
    </div>
    <div class="view-timesheet__submit_wrapper">
      <button
        ion-button
        data-cy="timesheet-submit-button"
        class="view-timesheet__submit"
        [ngClass]="{'view-timesheet__submit_disable': isDisabled}"
        [disabled]="isDisabled"
        (click)="submitTimesheet()"
      >
      {{'timesheet.button.submit' | translate}}
      </button>
    </div>
  </div>
</ion-content>
