@import "../../../../theme/fonts.scss";

ion-content {
  background-color: #efefef !important;
}

.view-timesheet {
  padding         : 20px;
  height          : 100%;
  width           : 100%;
  background-color: #efefef;

  h1 {
    color        : #201547;
    font-weight  : bold;
    margin-top   : 0;
    max-width    : 85%;
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
  }

  &__item {
    display       : flex;
    flex-direction: column;
    margin-top    : 20px;

    &__label {
      opacity: .5;
      color  : gray;
    }

    &__value {
      margin-top: 5px;
    }
  }

  &__edit {
    position: absolute;
    right   : 20px;
    top     : 20px;

    button {
      background: none;

      img {
        height    : 24px;
        width     : 24px;
      }
    }

    &_disable {
      display: none;
    }
  }

  &__submit {
    width           : 300px;
    height          : 50px;
    background-color: #e0004d;
    border-radius   : 10px;
    color           : #fff;

    &_disable {
      display: none;
    }

    &_wrapper {
      display        : flex;
      justify-content: center;
      width          : calc(100% - 40px);
      position       : absolute;
      bottom         : 50px;
    }
  }
}
