<div class="skills height-100">
  <ion-list class="list">
    <ion-item-group>
      <div *ngFor="let skill of skillList">
        <ion-grid class="skill">
          <app-skill-item [skill]="skill"></app-skill-item>
        </ion-grid>
      </div>
    </ion-item-group>
  </ion-list>
</div>
