<ion-item class="main-content">
<ng-container *ngIf="timesheet.date && timesheet.duration then view else pending"></ng-container>


</ion-item>

<ng-template #view>
  <slot (click)="openViewPage()">
    <div class="timesheet__info timesheet__padding">
      <div class="timesheet__data"> {{ timesheet.date | formatDate }} </div>
      <div class="timesheet__project"> {{ timesheet.projectName }} </div>
    </div>
    <div class="timesheet__time timesheet__padding" >
        {{ timesheet.duration }}
    </div>
  </slot>
  <button
      class="timesheet__submit timesheet__padding"
      ion-button
      block
      (click)="submitTimesheet()"
      data-cy="timesheet-submit-button"
      [disabled]="isDisabled"
      [class.is-disabled]="isDisabled"
    >
        <span> {{ submitButtonText | translate }} </span>
    </button>
    <div class="timesheet__edit timesheet__padding">
        <button ion-button block (click)="openEditPage()" [disabled]="isDisabled">
          <ion-icon name="pencil-outline"></ion-icon>
        </button>
    </div>
</ng-template>

<ng-template #pending>
  <slot>
    <div class="timesheet__time timesheet__padding" >
        Pending...
    </div>
  </slot>
</ng-template>
