@import "../../../../theme/fonts.scss";
.main-content {
  background         : white;
  width              : 100%;
  display            : flex;
  --padding-start    : 0;
  --padding-end      : 0px;
  --inner-padding-end: 0px;

  .timesheet__padding {
    padding: 10px;
  }

  .is-disabled {
    color: grey !important;
  }

  .timesheet__info {
    width: 50%;

    .timesheet__data {
      color    : grey;
      font-size: 12px;
    }
  }

  .timesheet__time {
    width      : 17%;
    display    : flex;
    align-items: center;
  }

  .timesheet__submit {
    width     : 27%;
    text-align: right;
    background: none;
    color     : #e0004d;

    span {
      font-size: 16px;
    }
  }

  .timesheet__edit {
    width: 13%;

    button {

      &:hover,
      &:focus {
        border : none;
        outline: none;
      }

      background: none;

      ion-icon {
        color : grey;
        width : 24px;
        height: 24px;
      }
    }

  }
}
