/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './theme/variables.scss';
@import './theme/fonts.scss';

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: bold;
  color: $main-text-color;

  &_big {
    font-size: 26px;
    line-height: 1.2;
  }

  &_medium {
    font-size: 16px;
    line-height: 1.4;
  }
}

.btn {
  --background: #eee;
  color: black;
  text-transform: none;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;

  &_active {
    --background: #0070af;
    color: white;
  }

  &_standart {
    --background: #201547;
    color: white;
  }

  &_next {
    --background: #f53d3d;
    color: white;
  }
}

.gighouse-header {
  .bar-buttons-md[end] {
    position: absolute;
    right: 4px;
    z-index: 100;
  }

  .back-button.show-back-button {
    position: absolute;
    left: 4px;
    z-index: 100;
  }
}

.logo {
  height: 16px;
}

ion-toolbar {
  --background: #201547;
}

ion-title {
  text-align: center;
}

.invalid {
  border: 2px solid #f53d3d;
}

.gighouse-header {
  .toolbar-background {
    --background: #201547;
    color: #fff;

    .toolbar-btn-back {
      position: absolute;
      left: 4px;
    }

    .toolbar-btn-save {
      position: absolute;
      right: 4px;

      button {
        background: none;
        color: white;
        font-size: 16px;
        border: none;
      }

      button:disabled {
        color: #ddd;
      }

      .is-disabled {
        color: #ddd;
      }
    }

    .toolbar-settings {
      position: absolute;
      left: 4px;

      .settings-button {
        background: none;
      }
    }

    .toolbar-title {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        height: 16px;
        display: block;
        margin: 0 auto;
        width: auto;
        font-size: 18px;
        color: #fff;
        line-height: 1;
      }
    }

    .toolbar-chat-list {
      position: absolute;
      right: 4px;

      .chat-list-button {
        background: none;
      }
    }
  }
}

a {
  color: #e0004d;
}

ion-list {
  background: transparent !important;
}

.active-title {
  font-size: 20px;
  color: #e0004d;
  margin: 0;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timesheet__comment {
  div {
    textarea {
      height: 130px;
    }
  }
}

.background-silver {
  --background: #f5f6f7;

  ion-item-divider {
    background: #4a4468;
    color: white;
    height: 40px;
  }
}

.registration {
  --background: #4a4468;
  --color: white;
}

.modal-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}

ion-alert {
  .alert-wrapper {
    border-radius: 0 !important;
    background-color: #fff !important;
    width: 100% !important;
  }

  button[aria-checked='true'] {
    .alert-radio-label {
      color: #e0004d !important;
    }
  }
  .alert-radio-icon {
    border-color: #e0004d !important;
    .alert-radio-inner {
      background-color: #e0004d !important;
    }
  }

  .alert-button {
    border: none !important;
    color: #e0004d;

    span {
      color: #e0004d;
    }
  }
}

.separated-list-item {
  display: flex;
  width: 100%;
  --background: #fff;
  color: #000;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(187, 187, 187);
  --box-shadow: none;
  text-transform: none;
  height: 45px;
  --border-radius: 0;

  --background-activated: #fff;

  margin: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  ion-icon {
    opacity: 0.5;
  }
}

.item-has-focus {
  --highlight-background: none;
}

ion-toast {
  &.success {
    position: relative;
    --background: #f7fbf5;
    --color: #1f292e;
    --border-color: #5eb234;
    --border-radius: 0;
    --border-width: 1px;
    --border-style: solid;
    --button-color: #5eb234;
  }

  &.information {
    --background: #f2fafb;
    --color: #1f292e;
    --border-color: #1182d2;
    --border-radius: 0;
    --border-width: 1px;
    --border-style: solid;
    --button-color: #1182d2;
  }

  &.error {
    --background: #fcf3f4;
    --color: #1f292e;
    --border-color: #c91d2b;
    --border-radius: 0;
    --border-width: 1px;
    --border-style: solid;
    --button-color: #c91d2b;
  }
}

.new-message-circle {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 4px;
  right: 7px;
  z-index: 100;
  background: #e20000;
  border-radius: 50%;
}

.message-list-btn {
  position: absolute;
  --background: none;
  color: #e0004d;
  --box-shadow: none;
  top: 0.5rem;
  right: 1rem;
  font-size: 17px;
  transform: scaleX(-1);
  z-index: 200;
  --padding-start: 0px;
  --padding-end: 0px;
  height: auto;
}
ion-textarea {
  .textarea-wrapper {
    width: 100%;
  }
}
