<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">
      {{ data.expertiseLabel | translate }}
    </ion-title>
    <ion-buttons slot="end" class="toolbar-chat-list">
      <ion-button data-cy="setting-button" class="chat-list-button">
        <ion-button
          [disabled]="isSavingDisabled()"
          (click)="saveData()"
          data-cy="aspired-freelancer-profiles-save-button"
        >
          <span translate>aspired-freelancer-profiles-selection.save</span>
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gighouse-content background-silver">
  <div class="height-100">
    <div class="gighouse-aspired-freelancer-profile ion-padding">
      <span translate>aspired-freelancer-profiles-selection.other.prefix</span>
      <a (click)="openOtherAspiredProfilePage()" data-cy="aspired-freelancer-profiles-other-link">
        <strong translate>aspired-freelancer-profiles-selection.other.link</strong>
      </a>
      <span translate>aspired-freelancer-profiles-selection.other.suffix</span>
    </div>
    <ion-list class="list-spaced">
      <ion-item-group>
        <div *ngFor="let profile of copyData.profiles">
          <ion-item data-cy="aspired-freelancer-profile-item">
            <ion-label
              ><span>{{ profile.description }}</span></ion-label
            >
            <ion-checkbox [(ngModel)]="profile.active"></ion-checkbox>
          </ion-item>
        </div>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
