<div class="registration-container">
  <strong data-cy="register-email-title">{{ 'register.title.email' | translate }}</strong>

  <ion-list *ngIf="userEmailForm">
    <form *ngIf="userEmailForm.controls as controls" [formGroup]="userEmailForm">
      <!--  [disabled]="isLoggedIn$ | async" -->
      <div class="field">
        <ion-input
          [class.invalid]="controls.email.touched && controls.email.errors"
          [placeholder]="'register.email' | translate"
          formControlName="email"
          type="email"
          data-cy="register-email"
        ></ion-input>

        <ng-container *ngIf="controls.email.touched && controls.email.errors">
          <div class="error">
            <span
              translate
              *ngIf="controls.email.errors.required"
              [translateParams]="{ field: 'register.email' | translate }"
              >validation.required</span
            >

            <span
              translate
              *ngIf="controls.email.errors.pattern"
              [translateParams]="{ field: 'register.email' | translate }"
              >validation.invalid.format</span
            >
          </div>
        </ng-container>
      </div>

      <div class="field" *ngIf="!isSocial" [class.invalid]="controls.password.touched && controls.password.errors">
        <!--   [disabled]="isLoggedIn$ | async" -->
        <ion-input
          [placeholder]="'register.password' | translate"
          formControlName="password"
          type="password"
          data-cy="register-password"
        >
        </ion-input>

        <ng-container *ngIf="!isSocial && controls.email.touched && controls.email.errors">
          <div
            class="gighouse-error-message"
            translate
            [translateParams]="{
              field: 'register.password' | translate,
              numberOfChars: '8'
            }"
          >
            {{ passwordControl.getPatternErrorMessage() }}
          </div>
        </ng-container>
      </div>
    </form>
  </ion-list>

  <div class="helper-text" *ngIf="!isSocial">
    <p>{{ 'register.email.password.requirements' | translate }}</p>
    <p>{{ 'register.email.explanation' | translate }}</p>
  </div>

  <div class="buttons ion-padding">
    <div class="buttons__container">
      <ion-button (click)="back()" mode="md" expand="block" class="btn btn_standart">{{
        'register.back' | translate
      }}</ion-button>
      <ion-button (click)="next()" mode="md" expand="block" class="btn btn_next">{{
        'register.next' | translate
      }}</ion-button>
    </div>

    <div class="buttons__step">{{ 'register.step' | translate }} 2/5</div>
  </div>
</div>
