<div class="height-100 fix-to-tabs" *ngIf="freelancerDetails$ | async as freelancerDetails">
  <div class="separated-list separated-list--large">
    <ion-button margin-top clear block (click)="openAvailabilityComponent()" data-cy="preferences-open-availability">
      <div class="container">
        <div class="content-preferences">
          <img src="assets/icons/icon-availability.svg" alt="icon availability" class="icon icon-preferences" />
          <div class="preferences__title">
            <span class="content-preferences__title">{{ 'preferences.availability' | translate }}</span>
            <!-- <span class="content-preferences__title" translate>preferences.availability </span> -->
            <div *ngIf="!freelancerDetails.jobPreferences.available" class="ellipsis">
              <span class="content-preferences__meta"> {{ 'preferences.unavailable' | translate }}</span>
              <!-- <span class="content-preferences__meta"> <em translate>preferences.unavailable </em></span> -->
            </div>
            <div *ngIf="freelancerDetails.jobPreferences.available" class="ellipsis">
              <span class="content-preferences__meta" *ngIf="freelancerDetails.jobPreferences.available">
                {{ freelancerDetails.jobPreferences.daysAWeek }} {{ 'preferences.days.a.week' | translate }}</span
              >
              <span class="content-preferences__meta" *ngIf="freelancerDetails.jobPreferences.hasOwnCar">
                {{ 'preferences.has.own.car' | translate }}</span
              >
              <span class="content-preferences__meta" *ngIf="freelancerDetails.jobPreferences.teleworking">
                {{ 'preferences.allows.teleworking' | translate }}</span
              >
            </div>
          </div>
        </div>
        <ion-icon class="arrows" name="arrow-forward"></ion-icon>
      </div>
    </ion-button>
  </div>
  <div class="separated-list separated-list--large">
    <ion-button margin-top clear block (click)="openRateComponent()" data-cy="preferences-open-rate">
      <div class="container">
        <div class="content-preferences ellipsis">
          <img src="assets/icons/icon-rate.svg" alt="icon rate" class="icon icon-preferences" />
          <div class="preferences__title">
            <span class="content-preferences__title"> {{ 'preferences.fee' | translate }}</span>
            <span class="content-preferences__meta" *ngIf="freelancerDetails.jobPreferences.dayFee">
              {{ 'preferences.day-fee' | translate }} &#8364;{{
                freelancerDetails.jobPreferences.dayFee | formatNumber
              }}</span
            >
            <span class="content-preferences__meta" *ngIf="freelancerDetails.jobPreferences.hourlyFee">
              | {{ 'preferences.hourly-fee' | translate }} &#8364;{{
                freelancerDetails.jobPreferences.hourlyFee | formatNumber
              }}</span
            >
          </div>
        </div>
        <ion-icon class="arrows" name="arrow-forward"></ion-icon>
      </div>
    </ion-button>
  </div>
  <div class="separated-list separated-list--large">
    <ion-button margin-top clear block (click)="openMobilityComponent()" data-cy="preferences-open-mobility">
      <div class="container">
        <div class="content-preferences ellipsis">
          <img src="assets/icons/icon-travel-time.svg" alt="icon transportation time" class="icon icon-preferences" />
          <div class="preferences__title">
            <span class="content-preferences__title"> {{ 'preferences.mobility' | translate }}</span>
            <span class="content-preferences__meta" *ngIf="freelancerDetails.jobPreferences.maximumTravelTime">
              {{ 'preferences.max' | translate }}
              {{ freelancerDetails.jobPreferences.maximumTravelTime | translate }}
            </span>
            <span class="content-preferences__meta" *ngIf="freelancerDetails.jobPreferences.maximumTravelDistance > 0">
              |
              {{ 'preferences.max' | translate }}
              {{ freelancerDetails.jobPreferences.maximumTravelDistance }}km</span
            >
          </div>
        </div>
        <ion-icon class="arrows" name="arrow-forward"></ion-icon>
      </div>
    </ion-button>
  </div>
</div>
