@import '../../../../../theme/fonts.scss';

.height-100 {
  height  : 100%;
  overflow: auto;
}

.fix-to-tabs {
  // margin-top: -1.6rem;

  .separated-list {
    display        : flex;
    justify-content: flex-start;

    ion-button {
      min-height     : 60px;
      width          : 100%;
      display        : flex;
      justify-content: flex-start;
      color          : grey;
      display        : flex;
      align-items    : center;
      --background   : white;
      text-transform : none;
      font-size      : 14px;
      border-bottom  : 1px solid rgb(187, 187, 187);
      --box-shadow   : none;

      --border-radius: 0;

      --background-activated: #fff;

      margin: 0;

      // .arrows {
      //   color: grey;
      //   width: 15px;
      // }
      .container {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 100%;

        .content-preferences {
          position             : relative;
          // padding-left: 4.2rem;
          // padding-right: 3rem;
          color                : black;
          display              : flex;
          // justify-content: ;
          // width             : 90%;
          text-align           : left;
          min-height           : 26px;


          .icon {
            left        : 0;
            right       : auto;
            font-size   : 2em;
            margin-right: 16px;

          }

          .preferences__title {
            .content-preferences__title {

              display    : block;
              width      : 100%;
              padding    : 0;
              color      : black;
              font-size  : 14px;
              line-height: 1.5;

            }

            div {
              .content-preferences__meta {
                position      : relative;
                // padding    : 0 2rem 0 0;
                font-size     : 14px;
                color         : #e0004d;
                font-weight   : 400;
                line-height   : 1.5;


              }
            }

            .content-preferences__meta {
              position      : relative;
              // padding    : 0 2rem 0 0;
              font-size     : 14px;
              color         : #e0004d;
              font-weight   : 400;
              line-height   : 1.5;


            }
          }


        }
      }

    }

  }
}
