.profile-completeness {
  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
  }



  &__popover {
    max-width: 320px;
    width: 100%;
    max-height: 300px;
    background-color: #FFF;
    padding: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    h1 {
      font-size: 18px;
      color: #201547;
      margin-top: 13px;
      font-weight: bold;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__content {
    margin-top: 25px;
    li {
      color: #cf3c4f;
      margin-top: 10px;
      span {
        color: #000;
      }
    }
  }
}

ion-icon {
  position: absolute;
  right: -3px;
  top: -3px;
  font-size: 25px;
}


ion-page {
  background-color: transparent !important;
}
