<div class="profile-completeness__wrapper">
  <div class="profile-completeness__popover">
    <div class="profile-completeness__header">
      <h1 translate [translateParams]="{ percentageComplete: profileCompleteness.getPercentageComplete() }">
        profile-completeness.percentage-complete
      </h1>
      <ion-icon name="close" class="icon" (click)="closePopover()"></ion-icon>
    </div>
    <div class="profile-completeness__content">
      <ul>
        <li *ngFor="let tip of profileCompleteness.getTips()">
          <span translate>profile-completeness.tip.{{ tip }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
