<ion-item class="chat-list-counter">
  <ion-label> Chats by project ({{ counter }}) </ion-label>
</ion-item>

<div *ngIf="chatItems$ | async as chatItems; else noChats">
  <div *ngFor="let item of chatItems">
    <app-chat-item [item]="item" (itemClick)="goToStakeholdersList($event)"></app-chat-item>
  </div>
</div>

<ng-template #noChats> </ng-template>
