<div data-cy="skills-skill-buttons" class="separated-list" >
  <ion-button (click)="openSkill()" class="separated-list-item">
    <div class="separated-list-item__inner">
      <span> <b>{{ skill.description }}</b> ({{ amountOfSkills }})</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </ion-button>
</div>
