<ion-header class="gighouse-header" [translucent]="true" color="">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h6>{{ project.projectName }}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background-silver"
  ><div *ngFor="let item of stakeholdersItems$ | async">
    <app-stakeholder-item
      [item]="item"
      (itemClick)="showChatModal($event)"
      (messageLoaded)="checkLoadingStatus($event)"
    ></app-stakeholder-item></div
></ion-content>
