<ion-tabs class="navigation-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let tab of tabs" [tab]="tab.path">
      <ion-icon [class]="tab.path"></ion-icon>
      <ion-label> {{ tab.title | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>