.navigation-tabs {
    ion-tab-bar {
        --background: #e0004d;
        ion-tab-button {
            color: rgba(255, 255, 255, 0.7);

            &[aria-selected='true'] {
                font-size: 14px;
                color: white;

                ion-icon {
                    opacity: 1 !important;
                }
            }

            ion-icon {
                height: 30px;
                width: 30px;
                opacity: 0.7;

                &.profile {
                    background: url('/assets/icons/icon-white-profile.svg') no-repeat 50% 50%;
                }
                &.jobs {
                    background: url('/assets/icons/icon-white-list.svg') no-repeat 50% 50%;
                }
                &.interested-jobs {
                    background: url('/assets/icons/icon-white-interests.svg') no-repeat 50% 50%;
                }
                &.timesheets {
                    background: url('/assets/icons/icon-white-timesheet.svg') no-repeat 50% 50%;
                }
            }   
        }
    }
    
}
