<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="toolbar-btn-save">
      <button ion-button (click)="saveAvailability()" data-cy="availability-save-button"
              [disabled]="isSavingDisabled()" [class.is-disabled]="isSavingDisabled()">
        <span>{{'availability.save' | translate}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-silver">

  <ion-item-divider color="quatrenary-light">
    <div class="container">
      <b><span translate>availability.availability</span></b>
    </div>
  </ion-item-divider>

  <div class="list-spaced profile-availability" [formGroup]="availabilityForm" padding-top padding-bottom>

    <ion-item no-lines lines="none">
      <ion-label><span translate>availability.available</span></ion-label>
      <ion-toggle class="toggle" formControlName="available" data-cy="availability-toggle"></ion-toggle>
    </ion-item>

    <div *ngIf="availabilityForm.controls.available.value">

      <ion-item no-lines lines="none">

        <ion-label>
          <span translate>availability.days.a.week</span>
        </ion-label>
        <ion-select [placeholder]="'availability.number' | translate" formControlName="daysAWeek"
                    data-cy="days-a-week" [value]="freelancerDetails?.jobPreferences?.daysAWeek">
          <ion-select-option value="0.5">0,5</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="1.5">1,5</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="2.5">2,5</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="3.5">3,5</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="4.5">4,5</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="5.5">5,5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="6.5">6,5</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-lines lines="none">
        <ion-label>
          <span translate>availability.i.can.start.from</span>
        </ion-label>
        <ion-datetime [placeholder]="'availability.date' | translate"
                      formControlName="availabilityDate"
                      displayFormat="DD/MM/YYYY"
                      pickerFormat="DD MMMM YYYY"
                      [monthNames]="'availability.monthNames' | translate"
                      [min]="currentYear"
                      [max]="currentYear + 1"
                      [doneText]="'availability.date-picker.doneText' | translate"
                      [cancelText]="'availability.date-picker.cancelText' | translate"
                      data-cy="availability-date">
        </ion-datetime>
      </ion-item>
    </div>
  </div>

  <ion-item-divider color="quatrenary-light">
    <div class="container">
      <b><span translate>availability.additional.preferences</span></b>
    </div>
  </ion-item-divider>

  <div class="list-spaced profile-availability" [formGroup]="availabilityForm" padding-top padding-bottom>

    <ion-item no-lines lines="none">
      <ion-label><span translate>availability.own.car</span></ion-label>
      <ion-toggle class="toggle" formControlName="ownCar" data-cy="own-car-toggle"></ion-toggle>
    </ion-item>

    <ion-item no-lines lines="none">
      <ion-label><span translate>availability.teleworking</span></ion-label>
      <ion-toggle class="toggle" formControlName="teleworking" data-cy="teleworking-toggle"></ion-toggle>
    </ion-item>
  </div>
</ion-content>
