@import '../../../../../../theme/variables.scss';
@import '../../../../../../theme/fonts.scss';
.background-silver {
  .list-spaced {
    ion-item {

      .toggle {
        --background-checked       : pink;
        --handle-background-checked: #e0004d;
        padding-right: 1px;
      }

    }
  }
}
