<ion-header class="gighouse-header" [translucent]="true">
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="toolbar-btn-back" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="toolbar-btn-save" slot="end">
      <button ion-button (click)="saveMobility()" data-cy="mobility-save-button"
              [disabled]="isSavingDisabled()">
        <span translate>mobility.save</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-silver">
  <ion-item-divider color="quatrenary-light">
    <div class="container">
      <b><span translate>mobility.preferences</span></b>
    </div>
  </ion-item-divider>

  <div [formGroup]="mobilityForm" class="form">
    <ion-list class="list-spaced" lines="none" no-lines>

      <ion-item lines="none" no-lines>
        <ion-label><span translate>mobility.maximum-travel-time</span></ion-label>
        <ion-select formControlName="maximumTravelTime" data-cy="mobility-maximum-travel-time-dropdown"
                    [placeholder]="'mobility.maximum-travel-time' | translate">
          <ion-select-option *ngFor="let travelTime of maximumTravelTimes" [value]="travelTime.getKey()">
            {{travelTime.getTranslation()}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" no-lines >
        <ion-label><span translate>mobility.maximum-travel-distance.label</span></ion-label>
        <ion-input [placeholder]="'mobility.maximum-travel-distance' | translate"
                   formControlName="maximumTravelDistance" type="number" inputmode="numeric" data-cy="mobility-maximum-travel-distance"
                   class="input-text-right"></ion-input>
      </ion-item>
      <!-- <div class="gighouse-input-error-message" *ngIf="maximumTravelDistanceControl.isInvalidAndTouched()"
           translate [translateParams]="{field: 'mobility.maximum-travel-distance' | translate}">
        {{ maximumTravelDistanceControl.getErrorMessage() }}
      </div> -->

      <ion-item lines="none" no-lines>
        <ion-label><span translate>mobility.travel-abroad</span></ion-label>
        <ion-toggle class="toggle" formControlName="travelAbroad" data-cy="mobility-travel-abroad-toggle"></ion-toggle>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
