@import '../../../../../../theme/fonts.scss';
.background-silver {
  .form {
    .list-spaced {
      padding-top: 0px;
      ion-item {
        .input-text-right {
          text-align: right;
        }

        .toggle {
          --background-checked       : pink;
          --handle-background-checked: #e0004d;
          padding-right              : 1px;
        }
      }
    }
  }
}
